.navContainer {
    display: flex;
    flex-direction: row;
}

.search-bar-form {
    margin: auto;
}

.searchBarClass_1 {
    width: 400px;
}

.searchIcon {
    margin-left: 30px;
}

.bottomLineNav {
    border-bottom: 1px solid rgb(156, 155, 155);
}

#lowerNavBar {
    justify-content: center;
    margin: 0;
    padding: 0;
    display: inline-block;

}

#lowerNavBar li {
    display: inline-block;
}

#lowerNavBar ul {
    width: 100%;
}

a:link {
    text-decoration: none;
}

.lowerMenuTextColor {
    color: black;
}

a {
    color: black;
}