#main-body {
    background-color: #e9eff5;
    padding-top: 3%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20%;
    text-align: center;
}

header {
    padding-top: 1%;
    padding-bottom: 4%;
    text-align: center;
    font-size: 200%;
}

#name, #email {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

#message {
    width: 20%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.submitButton {
    background-color: black;
    border: none;
    color: #FFFFFF;
    padding: 1% 4%;
    border-radius: 30px;
}